include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')
        // Для изменений после верстки
        link(rel='stylesheet' href='css/custom.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        .wrapper
            //- heeader
            header(class=main ? 'header_absolute' : '').header
                .container
                    .header__left
                        button(type='button').header__btn-aside.jsMenuOpen
                            +icon('menu','')
                        .header__logo
                            if main
                                +image('images/icons/logo.svg','header__logo-img')
                            else
                                +image('images/icons/logo-black.svg','header__logo-img')
                    .header__nav
                        .nav
                            each i in nav
                                a(href=i.href).nav__item= i.title
                    .header__controls
                        //a(href='/').header__control
                        //    +icon('basket', 'header__control-svg header__control-svg_basket')
                        //    span.header__control-count 1
                        //a(href='/').header__control
                        //    +icon('cabinet', 'header__control-svg header__control-svg_cabinet')
                        a(href='/').header__control
                            +icon('loop', 'header__control-svg header__control-svg_loop')
                    .header__contacts
                        a(href='tel:+7(495)369-53-75').header__tel +7 (495) 369-53-75
                        button(type='button').btn.header__btn.jsCall заказать звонок


            //- aside
            aside.aside
                .aside__top
                    button(type='button').aside__close.jSMenuClose
                        +icon('arrow-l','aside__close-svg')
                    a(href='/').aside__logo
                        +image('images/icons/logo.svg','aside__logo-img')

                .aside__middle
                    .aside__list
                        .aside__item
                            a(href='/').aside__link.aside__link_arr
                                span.aside__link-txt ТЕКСТИЛЬНЫЕ ЛАЙТБОКСЫ
                                +icon('arr-r', 'aside__link-svg')
                            .aside__item-menu
                                +menu('menu_g')
                        .aside__item
                            a(href='/').aside__link.aside__link_arr
                                span.aside__link-txt ФРЕЙМЛАЙТЫ
                                +icon('arr-r', 'aside__link-svg')
                            .aside__item-menu
                                +menu()
                        .aside__item
                            a(href='/').aside__link.aside__link_arr
                                span.aside__link-txt ПАНЕЛИ МАГНЕТИК
                                +icon('arr-r', 'aside__link-svg')
                            .aside__item-menu
                                +menu()
                        .aside__item
                            a(href='/').aside__link.aside__link_arr
                                span.aside__link-txt КРИСТАЛАЙТЫ
                                +icon('arr-r', 'aside__link-svg')
                            .aside__item-menu
                                +menu()
                        .aside__item
                            a(href='/').aside__link.aside__link_arr
                                span.aside__link-txt ИЗДЕЛИЯ ИЗ КОЖИ
                                +icon('arr-r', 'aside__link-svg')
                            .aside__item-menu
                                +menu()
                        .aside__item
                            a(href='/').aside__link.aside__link_arr
                                span.aside__link-txt СУВЕНИРЫ
                                +icon('arr-r', 'aside__link-svg')
                            .aside__item-menu
                                +menu()
                        .aside__item
                            a(href='/').aside__link.aside__link_arr
                                span.aside__link-txt ПОДАРОЧНАЯ КОРОБКА
                                +icon('arr-r', 'aside__link-svg')
                            .aside__item-menu
                                +menu()



                    .aside__nav
                        each i in nav
                            a(href=i.href).aside__nitem= i.title

                .aside__contacts
                    a(href='https://yandex.ru/maps/-/CKqo7XM~').aside__contact Адрес: г. Москва, ул. Ярославская, д. 8, корп. 6
                    a(href='tel:+7(495)369-53-75').aside__contact +7 (495) 369-53-75
                    a(href='mailto:info@magstor.ru').aside__contact info@magstor.ru

            //- pages
            main.page
                block content

            //- footer
            footer.footer
                .container
                    //-top
                    .footer__top
                        .row
                            .footer__top-left
                                a(href='/').footer__logo
                                    +image('images/icons/logo.svg','footer__logo-img')

                            .footer__top-center
                                .footer__txt Оставьте заявку на обратный звонок и получите бесплатную консультацию от наших специалистов

                            .footer__top-right
                                button(type='button').btn.footer__btn.jsCall заказать звонок


                    //- middle
                    .footer__middle
                        .row
                            .footer__col
                                .footer__list
                                    a(href='/').footer__item.footer__item_w О нас
                                    a(href='/').footer__item.footer__item_w Оплата и доставка
                                    a(href='/').footer__item.footer__item_w наши проекты
                                    a(href='/').footer__item.footer__item_w каталог
                                    a(href='/').footer__item.footer__item_w Контакты
                            .footer__col
                                .footer__list
                                    a(href='/').footer__item ТЕКСТИЛЬНЫЕ ЛАЙТБОКСЫ
                                    a(href='/').footer__item ФРЕЙМЛАЙТЫ
                                    a(href='/').footer__item ПАНЕЛИ МАГНЕТИК
                                    a(href='/').footer__item КРИСТАЛАЙТЫ
                            .footer__col
                                .footer__list
                                    a(href='/').footer__item ИЗДЕЛИЯ ИЗ КОЖИ
                                    a(href='/').footer__item СУВЕНИРЫ
                                    a(href='/').footer__item ПОДАРОЧНАЯ КОРОБКА
                            .footer__col
                                .footer__contacts
                                    a(href='https://yandex.ru/maps/-/CKqo7XM~').footer__contact Адрес: г. Москва, ул. Ярославская, д. 8, корп. 6
                                    a(href='tel:+7(495)369-53-75').footer__contact +7 (495) 369-53-75
                                    a(href='mailto:info@magstor.ru').footer__contact info@magstor.ru
                                .footer__socials
                                    .socials
                                        a(href='/').social
                                            +icon('vk','social__svg')
                                        a(href='/').social
                                            +icon('fb','social__svg')
                                        a(href='/').social
                                            +icon('inst','social__svg')
                                        a(href='/').social
                                            +icon('fb','social__svg')



                //- bottom
                .footer__bottom
                    .container
                        .footer__copy © 2020 MagStor – производство интерьерной рекламы в Москве

                        .footer__policy Политика конфиденциальности

                        a(href='/').footer__vendor
                            span.footer__vendor-txt Cоздание и продвижение сайтов
                            +image('images/icons/vebdor.png', 'footer__vendor-img')




        .debug
            div
                div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div




        //- fixed header
        .header.header_fixed
            .container
                .header__left
                    button(type='button').header__btn-aside.jsMenuOpen
                        +icon('menu','')
                    a(href='/').header__logo
                        +image('images/icons/logo-black.svg','header__logo-img')
                .header__nav
                    .nav
                        each i in nav
                            a(href=i.href).nav__item= i.title
                .header__controls
                    //a(href='/').header__control
                    //    +icon('basket', 'header__control-svg header__control-svg_basket')
                    //    span.header__control-count 1
                    //a(href='/').header__control
                    //    +icon('cabinet', 'header__control-svg header__control-svg_cabinet')
                    a(href='/').header__control
                        +icon('loop', 'header__control-svg header__control-svg_loop')
                .header__contacts
                    a(href='tel:+7(495)369-53-75').header__tel +7 (495) 369-53-75
                    button(type='button').btn.header__btn.jsCall заказать звонок




        //- mmenu
        .mmenu
            .mmenu__main
                //- top
                .mmenu__top
                    //- left
                    .mmenu__top-left
                        button(type='button').mmenu__arrow.jsMenuClose
                            +icon('arrow-l','mmenu__arrow-svg')
                        a(href='/').mmenu__logo
                            +image('images/icons/logo.svg','mmenu__logo-img')

                    //- right
                    .mmenu__top-right
                        .mmenu__controls
                            //a(href='/').mmenu__control
                            //    +icon('basket', 'mmenu__control-svg mmenu__control-svg_basket')
                            //    span.mmenu__control-count 1
                            //a(href='/').mmenu__control
                            //    +icon('cabinet', 'mmenu__control-svg mmenu__control-svg_cabinet')
                            a(href='/').mmenu__control
                                +icon('loop', 'mmenu__control-svg mmenu__control-svg_loop')


                //- bottom
                .mmenu__bottom
                    .mmenu__btns
                        a(href='tel:+7(495)369-53-75').mmenu__tel +7 (495) 369-53-75
                        button(type='button').mmenu__btn.btn.jsCall заказать звонок
                    .mmenu__list
                        each i in [1,2,3,4,5,6,7]
                            .mmenu__item
                                a(href='/').mmenu__link.mmenu__link_arr
                                    span.mmenu__link-txt ТЕКСТИЛЬНЫЕ ЛАЙТБОКСЫ
                                    +icon('arr-r', 'mmenu__link-svg')
                                .mmenu__wrapper
                                    .mmenu__top
                                        //- left
                                        .mmenu__top-left
                                            button(type='button').mmenu__arrow.jsWrapClose
                                                +icon('arrow-l','mmenu__arrow-svg')
                                                span.mmenu__arrow-txt НАЗАД

                                        //- right
                                        .mmenu__top-right
                                            button(type='button').mmenu__close.jsMenuClose
                                                +icon('close', 'mmenu__close-svg')

                                    .mmenu__bottom
                                        //- title
                                        a(href='category.html').mmenu__title ИЗДЕЛИЯ ИЗ КОЖИ
                                        //-list
                                        .mmenu__list
                                            each j in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
                                                .mmenu__item
                                                    a(href='/').mmenu__link.mmenu__link_arr
                                                        span.mmenu__link-txt САКВОЯЖИ И ДОРОЖНЫЕ СУМКИ
                                                        +icon('arr-r', 'mmenu__link-svg')
                                                    .mmenu__wrapper
                                                        .mmenu__top
                                                            //- left
                                                            .mmenu__top-left
                                                                button(type='button').mmenu__arrow.jsWrapClose
                                                                    +icon('arrow-l','mmenu__arrow-svg')
                                                                    span.mmenu__arrow-txt НАЗАД

                                                            //- right
                                                            .mmenu__top-right
                                                                button(type='button').mmenu__close.jsMenuClose
                                                                    +icon('close', 'mmenu__close-svg')

                                                        .mmenu__bottom
                                                            a(href='category.html').mmenu__title ВИЗИТНИЦЫ
                                                            .mmenu__list
                                                                each k in [1,2,3,4,5,6,7,8,9,10]
                                                                    .mmenu__item
                                                                        a(href='/').mmenu__link
                                                                            span.mmenu__link-txt Модель "Boston"



                    .mmenu__nav
                        each i in nav
                            a(href=i.href).mmenu__nitem= i.title
                    .mmenu__contacts
                        a(href='https://yandex.ru/maps/-/CKqo7XM~').mmenu__contact Адрес: г. Москва, ул. Ярославская, д. 8, корп. 6
                        a(href='tel:+7(495)369-53-75').mmenu__contact +7 (495) 369-53-75
                        a(href='mailto:info@magstor.ru').mmenu__contact info@magstor.ru







        //- popup
        .popup
            .popup__wrapper

        //- template
        template#tmpl
            form(action='ajax.php' method='post').form.callback
                button(type='button').form__close.jsCloseForm.
                    <svg viewBox="0 0 14 14" class='form__close-svg' xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 1.4L12.6 0L7 5.6L1.4 0L0 1.4L5.6 7L0 12.6L1.4 14L7 8.4L12.6 14L14 12.6L8.4 7L14 1.4Z"/>
                    </svg>

                .form__title Обратный звонок
                .form__fields
                    .form__field
                        input(type='text' name='name' placeholder='Ваше имя').input
                    .form__field
                        input(type='tel' name='tel' placeholder='Телефон').input
                    .form__field
                        input(type='email' name='email' placeholder='Email').input
                    .form__field
                        textarea(name='comment' placeholder='Комментарий').input.input_area
                .form__fz
                    | Заполняя данную форму Вы соглашаетесь с&nbsp;
                    a(href='/').form__fz-link Политикой обработки персональных данных
                .form__buttons
                    button(type='submit').form__button.btn2.btn2_b Отправить
            form(action='ajax.php' method='post').form.callbuy
                button(type='button').form__close.jsCloseForm.
                    <svg viewBox="0 0 14 14" class='form__close-svg' xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 1.4L12.6 0L7 5.6L1.4 0L0 1.4L5.6 7L0 12.6L1.4 14L7 8.4L12.6 14L14 12.6L8.4 7L14 1.4Z"/>
                    </svg>
                .form__title Заказать товар
                .form__fields
                    .form__field
                        input(type='text' name='name' placeholder='Ваше имя').input
                    .form__field
                        input(type='tel' name='tel' placeholder='Телефон').input
                    .form__field
                        input(type='email' name='email' placeholder='Email').input
                    .form__field
                        textarea(name='comment' placeholder='Комментарий').input.input_area
                .form__fz
                    | Заполняя данную форму Вы соглашаетесь с&nbsp;
                    a(href='/').form__fz-link Политикой обработки персональных данных
                .form__buttons
                    button(type='submit').form__button.btn2.btn2_b Отправить
            form(action='ajax.php' method='post').form.success
                button(type='button').form__close.jsCloseForm.
                    <svg viewBox="0 0 14 14" class='form__close-svg' xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 1.4L12.6 0L7 5.6L1.4 0L0 1.4L5.6 7L0 12.6L1.4 14L7 8.4L12.6 14L14 12.6L8.4 7L14 1.4Z"/>
                    </svg>
                .form__title Спасибо
                .form__sub Ваша заявка принята в работу. Ожидайте звонка.
                button(type='submit').form__button.success__button.jsCloseForm.btn2.btn2_b Вернуться к сайту





        script(src='js/vendor.min.js')
        script(src='js/main.min.js')
        // Для изменений после верстки
        script(src='js/custom.js')
