mixin icon(iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`/images/icons/sprite.svg#${iconName}`)

mixin iconPath(iconPath,iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`${iconPath}/sprite.svg#${iconName}`)

mixin image(imagePath, imageClass, imageAlt)
    if !imageAlt
        - var alt = 'lorem'
    else
        - var alt = imageAlt
    img(src=`${imagePath}`, alt=`${alt}`, class=`${imageClass}`)

mixin title(title,link,cls)
    div(class=cls).title
        .title__txt= title
        if link
            a(href='.').title__link= link

mixin menu(cls)
    div(class=cls).menu
        .header.menu__header
            .container
                .header__nav
                    .nav
                        a(href='/').nav__item О нас
                        a(href='/').nav__item Оплата и доставка
                        a(href='/').nav__item каталог
                        a(href='/').nav__item наши проекты
                        a(href='/').nav__item Контакты
                .header__controls
                    a(href='/').header__control
                        +icon('basket', 'header__control-svg header__control-svg_basket')
                        span.header__control-count 1
                    a(href='/').header__control
                        +icon('cabinet', 'header__control-svg header__control-svg_cabinet')
                    a(href='/').header__control
                        +icon('loop', 'header__control-svg header__control-svg_loop')
                .header__contacts
                    a(href='tel:+7(495)369-53-75').header__tel +7 (495) 369-53-75
                    button(type='button').btn.header__btn.jsCall заказать звонок


        .menu__cols
            .container
                .menu__row
                    .row
                        each i in [1,2,3,4,5,6,7,8,9,10,11,12]
                            .menu__col
                                .menu__item
                                    .mitem
                                        .mitem__top
                                            a(href='category.html').mitem__link
                                                span.mitem__img
                                                    +image('images/content/catalog/img.jpg','mitem__img-img')
                                                span.mitem__title Тиснение логотипа
                                        .mitem__bottom
                                            .mitem__list
                                                a(href='product.html').mitem__item Модель "Highlander"
                                                a(href='product.html').mitem__item Модель "Highlander"
                                                a(href='product.html').mitem__item Модель "Highlander"
                                                a(href='product.html').mitem__item Модель "Highlander"
                                                a(href='product.html').mitem__item Модель "Highlander"
                                            a(href='category.html').mitem__more Показать все

mixin catalogList()
    each i in [1,2,3,4,5,6,7]
        a(href='/').icitem
            span.icitem__title Текстильные лайтбоксы
            span.icitem__img
                +image('images/content/catalog/' + i + '.jpg','icitem__img-img')
                span.icitem__btn
                    +icon('arr-r','icitem__btn-svg')
    a(href='/').iclink
        span.iclink__title Не знаете, что выбрать?
        span.iclink__txt
            | Оставьте заявку
            | на обратный звонок
        span.iclink__txt
            | И получите консультацию
            | от специалистов
        span.iclink__btn
            +icon('arr-r','iclink__btn-svg')

mixin item(i)
    a(href='product.html').item
        span.item__fake
            span.item__main
                span.item__top
                    span.item__compare
                        +icon('compare','item__compare-svg')
                    span.item__fav
                        +icon('fav','item__fav-svg')
                    span.item__img
                        +image(i.src,'item__img-img')
                span.item__bottom
                    span.item__title= i.title
                    span.item__price= i.price
        span.item__hidden
            span.item__main
                span.item__top
                    span.item__compare
                        +icon('compare','item__compare-svg')
                    span.item__fav
                        +icon('fav','item__fav-svg')
                    span.item__img
                        +image(i.src,'item__img-img')
                span.item__bottom
                    span.item__title= i.title
                    span.item__price= i.price
                span.item__btn
                    span.item__add Добавить в корзину

mixin pagination()
    .pagination
        a(href='/').pagination__arr.pagination__arr_left
            +icon('arr-l','pagination__arr-svg')
        a(href='/').pagination__item.active
            span.pagination__item-txt 1
        a(href='/').pagination__item
            span.pagination__item-txt 2
        a(href='/').pagination__item
            span.pagination__item-txt 3
        a(href='/').pagination__item
            span.pagination__item-txt ...
        a(href='/').pagination__item
            span.pagination__item-txt 48
        a(href='/').pagination__arr.pagination__arr_right
            +icon('arr-r','pagination__arr-svg')

mixin icatalog()
    .icatalog__main
        +title('Выполненные проекты','Перейти в раздел','icatalog__title')
        .icatalog__list
            a(href='/').icbig
                span.icbig__img
                    +image('images/content/catalog/big.jpg','icbig__img-img')
                span.icbig__top
                    span.icbig__date 12.12.2019
                    span.icbig__proj Проекты
                span.icbig__title Анимационный тканевый лайтбокс для ТЕЛЕ2
                span.icitem__btn.icbig__btn
                    +icon('arr-r','icitem__btn-svg icbig__btn-svg')


            each i in [3,4,5,6,7]
                a(href='/').icitem.icitem_p
                    span.icitem__title
                        span.icitem__title-top
                            span.icitem__title-date 12.12.2019
                            span.icitem__title-proj Проекты
                        span.icitem__title-title Текстильные лайтбоксы
                    span.icitem__img
                        +image('images/content/catalog/' + i + '.jpg','icitem__img-img')
                        span.icitem__btn
                            +icon('arr-r','icitem__btn-svg')
            a(href='/').iclink
                span.iclink__title Не знаете, что выбрать?
                span.iclink__txt
                    | Оставьте заявку
                    | на обратный звонок
                span.iclink__txt
                    | И получите консультацию
                    | от специалистов
                span.iclink__btn.icbig__btn
                    +icon('arr-r','iclink__btn-svg')